<template>
  <div class="home">
    <Header msg="Hello World!" />
    <img alt="hello-world dance" src="../assets/bender_back_baby.jpg" />
  </div>
</template>

<script>
// @ is an alias to /src
import Header from "@/components/Header.vue";

export default {
  name: "home",
  components: {
    Header
  }
};
</script>
